@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

:root {
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    padding: 30px;
    background-color: var(--Light-grayish-blue);
}

.design {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem 1rem;
    margin: 30px auto;
}

.top {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    align-items: center;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 7.5px;
}

h3 {
    color: var(--Light-gray);
}

h4 {
    color: var(--Light-gray);
    opacity: 0.5;
}

.card {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 10px;
}

.purple-card {
    background-color: var(--Moderate-violet);
    grid-area: 1/ 1 / span 1 / span 2;
}

.grey-card {
    background-color: var(--Very-dark-grayish-blue);
}

.white-card-1 {
    background-color: white;
    grid-area: 1/ 4 / span 2/ 5;
}

.white-card-2 {
    background-color: white;
}

.black-card {
    background-color: var(--Very-dark-blackish-blue);
    grid-area: 2/ 2 / span 1 / span 2;
}

p {
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1rem;
}

.white-card-1 p {
    color: var(--Very-dark-blackish-blue);
}

article {
    color: var(--Light-gray);
    opacity: 0.7;
    font-weight: 500;
}

@media screen and (max-width: 380px) {
    body {
        width: 375px;
        padding: 2.5px;
    }
    .design {
        grid-template-columns: 375px;
        grid-template-rows: repeat(5, auto);
    }
    .purple-card {
        grid-area: 1/ 1 / span 1 / span 1;
    }
    .grey-card {
        grid-area: 2/ 1 / span 1 / span 1;
    }
    .white-card-2 {
        grid-area: 3/ 1 / span 1 / span 1;
    }
    .black-card {
        grid-area: 4/ 1 / span 1 / span 1;
    }
    .white-card-1 {
        grid-area: 5/ 1 / span 1 / span 1;
    }
}
